<%
var data = obj;
var self = this;
%>
<article class="card"  id="<%= id %>">
<%= self.partial('code-source.tmpl',data) %>
<% if (data.name) { %>
  <h2><%= name %></h2>
<% } %>
<pre class="prettyprint"><code><%=  JSON.stringify(data.longname) %></code></pre>
<h4 class="name"><%= data.attribs + name + (data.signature ? data.signature : '') %></h4>

<% if (data.summary) { %>
<p class="summary"><%= summary %></p>
<% } %>


<% if (data.description) { %>
<div class="description">
    <%= data.description %>
</div>
<% } %>

<% if (data.type && data.type.names) {%>
    <h5>Type:</h5>
    <ul>
        <li>
            <%= self.partial('type.tmpl', data.type.names) %>
        </li>
    </ul>
<% } %>

<%= self.partial('details.tmpl', data) %>

<% if (data.fires && fires.length) { %>
    <h5>Fires:</h5>
    <ul><% fires.forEach(function(f) { %>
        <li><%= self.linkto(f) %></li>
    <% }); %></ul>
<% } %>

<% if (data.examples && examples.length) { %>
    <h5>Example<%= examples.length > 1? 's':'' %></h5>
    <%= this.partial('examples.tmpl', examples) %>
<% } %>
</article>